 {%extends "shop/layouts/main.html"%}
 {% block title %}
    TRENDORA | Online Shopping
 {% endblock title %}

 
 {% block Content %}
<section class="bg-light" py-4 my-5>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 style="font-weight: bold; margin-top: 20px;">{{ category_name }} Products</h4>
                <hr style="border-color: #b8bfc2; ;">
            </div>
            {% include "shop/inc/message.html" %}
             {% for items in products %}
            <div class="col-md-4 col-lg-3">
              <div class="card my-3">
                <img style="height: 250px; object-fit: fill;" src="{{ items.Product_image.url }}" class="card-img-top" alt="Categories">
                <hr style="border-color: #b8bfc2; margin: 0px;">
                <a style="text-decoration: none;" href="{% url 'product_details' category_name items.name %}">
                <div class="card-body">
                  <h5 class="card-title text-start" style="margin-bottom: 18px;">{{ items.name }}</h5> 
                  <p style="font-size: 14px; margin-top: 0px; color: black;" class="text-primary">
                    <span style="color: red;" class="float-start "><s>Rs.{{ items.original_price | stringformat:"0.1f" }}</s></span>
                    <span style="background-color: green; color: white; padding: 2px; margin-bottom: 7px; border-radius: 6px;" class="float-end new_price"> Rs.{{items.Selling_price | stringformat:"0.1f"}}</span></p> 
                </div>
                </a>
              </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% endblock Content %}    
