 {%extends "shop/layouts/main.html"%}
 {% block title %}
    TRENDORA | Online Shopping
 {% endblock title %}

 
 {% block Content %}
{% include "shop/inc/slider.html" %}
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col-12"><h1>Latest Products</h1></div>
        {% for items in products %}
            <div class="col-md-4 col-lg-3">
              <div class="card my-3">
                {% if items.Product_image %}
                <img style="height: 250px; object-fit: fill;" src="{{ items.Product_image.url }}" class="card-img-top" alt="{{ items.name }}">
                {% else %}
                <div class="d-flex align-items-center justify-content-center bg-light" style="height: 250px;">Image unavailable</div>
                {% endif %}
                <hr style="border-color: #b8bfc2; margin: 0px;">
                <a style="text-decoration: none;" href="{% url 'product_details' items.category.name items.name %}">
                <div class="card-body">
                  <h5 class="card-title text-start" style="margin-bottom: 18px;">{{ items.name }}</h5> 
                  <p style="font-size: 14px; margin-top: 0px; color: black;" class="text-primary">
                    <span style="color: red;" class="float-start "><s>Rs.{{ items.original_price | stringformat:"0.1f" }}</s></span>
                    <span style="background-color: green; color: white; padding: 2px; margin-bottom: 7px; border-radius: 6px;" class="float-end new_price"> Rs.{{items.Selling_price | stringformat:"0.1f"}}</span></p> 
                </div>
                </a>
              </div>
            </div>

            {% endfor %}
    </div>
    </div>
{% endblock Content %}    
