 {%extends "shop/layouts/main.html"%}
{% block title %}
    User Login | Online Shopping
 {% endblock title %}


 {% block Content %}
    <div class="cointainer" style="margin-top: 70px; min-height:600px">
      <div class="row">
        <div class="col-12">
          <h4 style="margin-left: 112px;" class="mb-3">User Login</h4>
          <hr style="border-color: #b8bfc2; width: 85%; margin-left: 110px; margin-bottom: 1px;">
          {% include "shop/inc/message.html" %}
        </div>
      </div>
      <section class="py-4 my-5" >
        <div class="container">
          <div class="row">
            <div class="col-6">
               <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-4">
                  <label for="username" class="form-label">Username</label>
                   <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username">
                </div>
                <div class="mb-4">
                  <label for="password1" class="form-label">Password</label>
                   <input type="password" name="password1" class="form-control" id="password1" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
               </form>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock Content %}    
